.homeBy_gantt__rule{
    $borderColor: rgb(239, 239, 245);
    $border: 1px solid $borderColor;
    min-width: 100%;
    color: rgb(31, 34, 37);
    text-align: center;
    border: $border;
    background-color: rgb(250, 250, 252);
}